/* LINKING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
​
/* CSS VARIABLES */
:root {
  --container-pd: 1.5rem 2.5rem;
  --container-pd-2: 1rem 1.3rem;
  --container-mt-mg: 1.5rem;
}
/* CSS VARIABLES */
​
/* INITIALIZING CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image-header img{
  width: 100%;
  height: 50%;
  }
header nav {
color: white;
margin-top: -50px;
}
header nav ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: -678px;
  margin-left: 860px;
  margin-right: 50px;
}
h1 {
  margin-top: -550px;
  text-align: center;
  color: white;
}
.scrollimg{
margin-left: 657px;
margin-top: 80px;
  }
.fp h2 {
  margin-top: 500px;
  padding: 30px;
  margin-left: 50px;
}
.fp p {
  margin-top: 2px;
  padding-left: 30px;
  margin-left: 50px;
  color: gray;
}
.fp h5 {
  padding-left: 40px;
  margin-left: 50px;
}
.fp img {
  margin-left: 50%;
  margin-top: -454px;
  width: 50%;
  height: 50%;
}
.sp img {
  width: 50%;
  height: 50%;
  margin-top: -5px;
}
.ts img {
  width: 50%;
  height: 50%;
  margin-top: -5px;
}
.fts {
  margin-left: 50%;
  margin-top: -560px;
}
.fts img {
  height: 50%;
  width: 100%;
}
.plain ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}  
.plain img {
  border-radius: 50%;
}
.multiimg {
width: 100%;
height: 50%
}
.milk {
  margin-top: 150px;
  width: 25%;
  height: 50%;
}
.milk img{
  width: 100%;
}
.orange {
  margin-left: 25%;
  margin-top: -418px;
  width: 25%;
  height: 50%;
}
.orange img{
  width: 100%;
}
.cones {
  margin-left: 50%;
  margin-top: -417px;
  width: 25%;
}
.cones img {
  width: 100%;
}
.sugar{
  margin-left: 75%;
  margin-top: -418px;
  width: 25%;
}
.sugar img {

  width: 100%;
}
.sun {
  height: 300px;
  background-color: rgb(127, 201, 186);
  width: 100%;
margin-top: -25px;
}